.statusBar {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #e2d9d9;
  background: #dbeeff;

  span {
    height: 8px;
    width: 8px;
    
    display: inline-block;
    margin-left: 5px;
    border-radius: 5px;

    &.green { 
      background: #0bb50b;
    }

    &.red {
      background: red;
    }
  }
}